html {
  background-image: url('images/battleship-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

html,body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 20rem;
  height: 90px;
  margin-top: 5px;
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen-box {
  box-sizing: border-box;
  width: 75vh;
  height: 75vh;
  background-color: rgb(96, 96, 96);
  border: 4px solid rgb(96, 96, 96);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  height: 75vh;
  z-index: 3;
}

.button {
  cursor: pointer;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  margin: 10px;
  background-color: rgb(207, 207, 207);
  border: 4px solid rgb(96, 96, 96);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button:first-child {
  margin-top: 0;
}

i {
  color: #606060;
  font-size: 4rem;
  margin: 0;
}

.empty-container {
  width: 110px;
  /* 
  helps maintain layout, keeping
  things centered

  had to recreate the layout with
  invisible spaces for menu to 
  perfectly cover the game screen.
  */
}

.empty-logo-space {
  /* 
  helps maintain layout, pushing 
  menu down to fit over screen 
  */
  width: 20rem;
  height: 90px;
  margin-top: 5px;
}

.menu-containers-wrapper {
  /* 
  helps maintain layout, sets
  above logo space in place above
  the menu. 
  needs to act similarly to container.
  */
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#menuItemsContainer {
  /* 
  helps maintain layout, functions
  similarly to middle container.
  */
  display: none;
  justify-content: center;
  background-color: rgba(0, 0, 0, .25);
  z-index: 2;
}

.menuScreen {
  box-sizing: border-box;
  width: 75vh;
  height: 75vh;
  background-color: rgb(235, 235, 235);
  border-radius: 15px;
  padding: 10px;
  border: .5rem solid rgba(96, 96, 96);
}

.settings-text {
  font-size: 2em;
  font-family: monospace;
  text-align: center;
  margin-top: 0;
}

#shotHistory{
  grid-area: shotHistory;
  display: grid;
  grid-template-areas: 
  'options'
  'table';
  row-gap: 3vh;
  grid-template-rows: auto 80%;
}

#fieldset {
  grid-area: options;
  border-radius: 10px;
  position: relative;
}

.shotTable {
  grid-area: table;
  display: grid;
  grid-template-areas:
  'table'
  'narrative';
}

.shipGrid {
  grid-area: table;
}
.narrativeGrid{
  grid-area: narrative;
}
#narrative {
  font-size: large;
}
.mobile-button-container {
  display: none;
  z-index: 5;
  cursor: pointer;
}

/* sliders */

#slider-menu {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 235, 235);
  padding: 15px;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 5%;
  z-index: 10;
}

.vslider {
  -webkit-appearance: none;
  appearance: none;
  width: 35vw;
  height: 1.5rem;
  background: #a09f9f;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
  border-radius: 16px;
 }

.vslider:hover {
  opacity: 1;
}

.vslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 27px;
  height: 27px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #FF0000;
  box-shadow: -300em 0 0 299em #FF0000;
  margin-top: 0px;
 }
 
 .vslider::-moz-range-thumb {
  width: 27px;
  height: 27px;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #FF0000;
  box-shadow: -300em 0 0 299em #FF0000;
  margin-top: 0px;
 }

 .slider-text {
  text-wrap: nowrap;
 }

 #down-arrow {
  display: none;
 }

/* report on ships */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd
}

#ball {
  width: 0px;
  height: 0px;
  background: none;
  border: 3px solid rgb(255, 255, 255);
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
}

#results-display {
  font-size: 25px;
  font-style: italic;
  position: absolute;
  width:50%;
  height: 5%;
  text-align: center;
  left: 25%;
  border-radius: 100px;
  padding-top: 2.5%;
  animation-name: fadeInUser;
  animation-duration: 3s;
  animation-direction: alternate;
}

#comp-results-display {
  font-size: 25px;
  font-style: italic;
  position: absolute;
  width:50%;
  height: 5%;
  text-align: center;
  left: 25%;
  border-radius: 100px;
  padding-top: 2.5%;
  animation-name: fadeInComputer;
  animation-duration: 3s;
}
.checkboxes{
  position: absolute;
  right: 10px;
}
#user-shots{
  position: absolute;
  right: 10px;
}
#computer-shots{
  position: absolute;
  right: 10px;
}
#audio-preference{
  position: absolute;
  right: 10px;
}
#volume-preference{
  position: absolute;
  right: 10px;
}
@keyframes fadeInUser {
  0% {color:rgba(255, 255, 255, 0); bottom: 10px}
  5% {color: black; bottom: 82.5%}
  95% {color: black; bottom: 82.5%}
  100% {color:rgba(255, 255, 255, 0); bottom: 10px}
}

@keyframes fadeInComputer {
  0% {color:rgba(255, 255, 255, 0); bottom: 10px}
  5% {color: black; bottom: 45%}
  95% {color: black; bottom: 45%}
  100% {color:rgba(255, 255, 255, 0); bottom: 10px}
}


/* smaller screens */

@media screen and (max-width: 994px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    width: 15rem;
    height: 70px;
  }

  .empty-logo-space {
    width: 15rem;
    height: 70px;
  }

  .middle-container {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .button-container, .empty-container {
    display: none;
  }

  .mobile-button-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(99, 99, 99, 0.416);
    padding: 7px;
    border-radius: 15px;
  }

  .mobile-button {
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    background-color: rgb(207, 207, 207);
    border: 4px solid rgb(96, 96, 96);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-right: 7px;
    margin-left: 7px;
  }

  .power-slider {
    border-color: rgb(210, 0, 0);
  }

  .power-slider i {
    color: rgb(210, 0, 0);
  }

  i {
    font-size: 2rem;
  }

  #screen-box {
    width: 90vw;
    height: 60vh;
    margin-top: 10px;
  }

  .menuScreen {
    width: 90vw;
    height: 60vh;
    margin-top: 10px;
  }

    /* sliders */

    #slider-menu {
      background-color: #ffffff00;
      padding: 15px;
      border-radius: 15px;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      bottom: 76px;
      color: rgba(255, 255, 255, 0.796);
    }
    
    .vslider {
      width: 35vw;
      height: .75rem;
     }
    
    .vslider::-webkit-slider-thumb {
      width: 12px;
      height: 12px;
     }
     
     .vslider::-moz-range-thumb {
      width: 12px;
      height: 12px;
     }
  
     #down-arrow {
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #ff0000aa;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 5.5px;
      z-index: 40;
     }
}

@media screen and (min-height: 600px) and (max-width: 994px) {
  #slider-menu {
    bottom: 96px;
  }

  #down-arrow {
    bottom: 6px;
  }

  #slider-menu {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
  }
  
  .vslider {
    -webkit-appearance: none;
    appearance: none;
    width: 35vw;
    height: 1rem;
    background: #a09f9f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    border-radius: 16px;
   }
  
  .vslider:hover {
    opacity: 1;
  }
  
  .vslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #FF0000;
    box-shadow: -300em 0 0 299em #FF0000;
    margin-top: 0px;
   }
   
   .vslider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #FF0000;
    box-shadow: -300em 0 0 299em #FF0000;
    margin-top: 0px;
   }
  

}

@media screen and (max-height: 810px) {
  .logo {
    width: 10rem;
    height: 47px;
  }

  .empty-logo-space {
    width: 10rem;
    height: 47px;
  }

  .button {
    width: 55px;
    height: 55px;
    background-color: rgb(207, 207, 207);
    border: 4px solid rgb(96, 96, 96);
    border-radius: 15px;
  }

  i {
    font-size: 2rem;
  }

  .middle-container {
    align-items: flex-start;
  }

  #screen-box {
    width: 75vw;
    height: 60vh;
    margin-top: 10px;
  }

  .menuScreen {
    width: 75vw;
    height: 60vh;
    margin-top: 10px;
  }

  .empty-container {
    width: 75px;
  }
}

@media screen and (max-height: 415px) {
  .logo {
    display: none;
  }

  .empty-logo-space {
    display: none;
  }

  .ship_data_wrapper {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .ship_data_wrapper {
    display: none;
  }

    /* sliders */

    #slider-menu {
      background-color: #ffffff00;
      padding: 15px;
      border-radius: 15px;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      bottom: 76px;
      color: rgba(255, 255, 255, 0.796);
    }
    
    .vslider {
      width: 35vw;
      height: .75rem;
     }
    
    .vslider::-webkit-slider-thumb {
      width: 12px;
      height: 12px;
     }
     
     .vslider::-moz-range-thumb {
      width: 12px;
      height: 12px;
     }
  
     #down-arrow {
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 7px solid #ff0000aa;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 5.5px;
      z-index: 40;
     }
}

