body {
    border-radius: 10px;
    background-image: url(Images/battleship-background.jpg);
    background-size: cover;
  }

/* Main box. Contains all the other boxes */
.mainBox {
    display: grid;
    grid-template-areas: 
    'buttons game text'
    'controls controls controls';
    position: absolute;
    left: 2.5%;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 42.5rem 10rem;
    width: 95%;
    border: rgba(0,0,0) solid;
    margin-top: 1rem;
}
.mainBox > div {
    background-color: rgba(237, 237, 237, 0.8);
    border: rgba(0,0,0) solid;
    text-align: center;
}


/* Other boxes inside of mainBox */

/* Button Panel*/

.buttonPanel {
    grid-area: buttons;
    display: grid;
    grid-template-areas: 
    'button1'
    'button2'
    'button3';
    gap: 5rem;
    padding-top: 5rem;
}
.button1 {
    grid-area: button1;
    background-color: rgba(237, 237, 237, 0.8);
    border: rgba(0,0,0) solid;
    width: 50%;
    height: 75%;
    margin-left: 25%;
}
#button1 {
    width: 100%;
    height: 100%;
}
.button2 {
    grid-area: button2;
    background-color: rgba(237, 237, 237, 0.8);
    border: rgba(0,0,0) solid;
    width: 50%;
    height: 75%;
    margin-left: 25%;
}
#button2 {
    width: 100%;
    height: 100%;
}
.button3 {
    grid-area: button3;
    background-color: rgba(237, 237, 237, 0.8);
    border: rgba(0,0,0) solid;
    width: 50%;
    height: 75%;
    margin-left: 25%;
}
#button3 {
    width: 100%;
    height: 100%;
}
/* Game Panel */
.gamePanel {
    grid-area: game;
}

/* Control Panel */

.controlPanel {
    grid-area: controls;
    display: grid;
    grid-template-areas:
    'slider1'
    'slider2';
    grid-template-columns: 100% 100%;
    grid-template-rows: 50% 50%;
}
.controlText {
    grid-area: controlText;
}
.slider1 {
    grid-area: slider1;
    display: grid;
    grid-template-areas:
    'display1 slider1 output1';
    grid-template-columns: 15% 70% 15%;
    background-color: rgba(237, 237, 237, 0.8);
    border: rgba(0,0,0) solid;
    width: 100%;
    height: 95%;
}
.slider1display {
    grid-area: display1;
    border: rgba(0,0,0) solid;
}
.slider1slider {
    grid-area: slider1;
    border: rgba(0,0,0) solid;
}
.slider1output {
    grid-area: output1;
    border: rgba(0,0,0) solid;
}
.slider2 {
    grid-area: slider2;
    display: grid;
    grid-template-areas:
    'display2 slider2 output2';
    grid-template-columns: 15% 70% 15%;
    background-color: rgba(237, 237, 237, 0.8);
    border: rgba(0,0,0) solid;
    width: 100%;
    height: 95%;
}
.slider2display {
    grid-area: display2;
    border: rgba(0,0,0) solid;
}
.slider2slider {
    grid-area: slider2;
    border: rgba(0,0,0) solid;
}
.slider2output {
    grid-area: output2;
    border: rgba(0,0,0) solid;
}
/* Text Panel */

.textPanel {
    grid-area: text;
    display: grid;
    grid-template-areas:
    'narrativeTable'
    'narrativeText';
    grid-template-columns: 100% 100%;
}
.narrativeText {
    grid-area: narrativeText;
    border: black solid;
    background-color: rgba(237, 237, 237, 0.8);
}
.shipReport {
    grid-area: narrativeTable;
    border: black solid;
    background-color: rgba(237, 237, 237, 0.8);
}


/* Ball */
#ball {
    width: 0px;
    height: 0px;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
  }
  