
body {
  background-image: url(https://images.unsplash.com/photo-1530053969600-caed2596d242?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center center;
}
p {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  background-color: rgb(219, 219, 219);
  border-radius: 50px;
  font-size: 40px;
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 10px;
}
canvas {
  border: 14px solid rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.8);
}
#mainBox{
  font-family: 'Archivo Black', sans-serif;
  background-color: rgba(0, 0, 0, 0.514);
  width: 95%;
  margin-left: 2.5%;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
}
#secondaryBox {
  font-family:'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.65);
  text-align: left;
  width: 40%;
  border-radius: 30px;
  padding: 20px;
}
#shotHistory {
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 30px;
  padding: 25px;
  padding-top: 15px;
  height: 8%;
  position: absolute;
  bottom: 6%;
  float:left;
  width: 35%;
}
#textBoxThing {
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(255, 255, 255);
  text-align: left;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  top: 0%;
}
#weaponSelection{
  font-family:'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.65);
  text-align: left;
  width: 35%;
  height: 43%;
  border-radius: 30px;
  padding: 20px;
  position: absolute;
  top: 33%;
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #b3b2b2;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
#powerCounter{
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
}
#weaponSelection1{
  position: absolute;
}
#weaponSelection2 {
  text-align: right;
}
#shotCost1 {
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  bottom: 3%;
  width: 10%;
}
#shotCost2 {
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  bottom: 3%;
  width: 80%;
  right: 3%;
  text-align: right;
}
#powerOutputValueSlider1{
  float: right;
}
#powerOutputValueSlider2{
  float: right;
}
#powerOutputValueSlider3{
  float: right;
}
#powerOutputValueSlider4{
  float: right;
}
#powerOutputValueSlider5{
  float: right;
}
#powerOutputValueSlider6{
  float: right;
}






